@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.main__title {
  color: map-get($myListColor, "color-black");
  font-size: 65px;
  font-weight: 600;
  line-height: 95px;
  margin-bottom: 20px;
}

.main__subtitle {
  color: map-get($myListColor, "color-black");
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 992px) {
  .main__title {
    font-size: 36px;
    line-height: 46px;
  }

  .main__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
  }

  // Hidden element in mobile version
  .mobile-none {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .main__title {
    font-size: 22px;
    line-height: 28px;
  }

  .main__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
  }
}