/* QR animation */
.square-wrapper .square-animation {
  animation: wipe-enter 1.2s 1;
}
@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

/* Custom animation */
.hu__hu__ {
  animation: hu__hu__ infinite 2s ease-in-out;
}

@keyframes hu__hu__ {
  50% {
    transform: translateY(30px);
  }
}
.hu__hu__2 {
  animation: hu__hu__2 infinite 2s ease-in-out;
}

@keyframes hu__hu__2 {
  50% {
    transform: translateY(-30px);
  }
}
.typing {
  width: 540px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #3A79F3;
  animation: typing 3s steps(18, end) infinite alternate, cursor 0.2s steps(18, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 540px;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 576px) {
  .typing {
    width: 300px;
    animation: typing 3s steps(12, end) infinite alternate, cursor 0.2s steps(12, end) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 275px;
    }
  }
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
}
/* Progressbar */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  opacity: 60%;
  background-color: #3A79F3;
  z-index: 99;
}

.animate-on-scroll {
  visibility: hidden;
}

.section__start {
  position: relative;
  height: 100vh;
}
.section__start .letter {
  position: absolute;
}
.section__start .letter__h {
  top: 10px;
  left: 0;
}
.section__start .letter__u {
  bottom: -50px;
  right: 0;
}
@media screen and (max-width: 1450px) {
  .section__start .letter img {
    max-width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .section__start .letter img {
    max-width: 370px;
  }
}
@media screen and (max-width: 992px) {
  .section__start .letter img {
    max-width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .section__start .letter img {
    max-width: 200px;
  }
}
.section__start__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
}
@media screen and (max-width: 1200px) {
  .section__start__box img {
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) {
  .section__start__box img {
    max-width: 270px;
  }
}
.section__start__box .text-combine {
  position: relative;
  margin-top: 20px;
}
.section__start__box .text-combine img {
  position: absolute;
  bottom: -60px;
  right: 50px;
}
@media screen and (max-width: 992px) {
  .section__start__box .text-combine img {
    max-width: 300px;
    bottom: -35px;
    right: 0px;
  }
}
.section__start__box .text-combine p {
  text-align: center;
  font-size: 49px;
  color: #3A79F3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 300;
  line-height: 57px;
}
@media screen and (max-width: 1200px) {
  .section__start__box .text-combine p {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (max-width: 992px) {
  .section__start__box .text-combine p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}
.section__marketing {
  padding: 220px 0;
  background-image: url("../images/background/bg-letter-1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.section__marketing__header {
  text-align: center;
}
.section__marketing__header .inside__header {
  position: relative;
  display: inline-block;
}
.section__marketing__header .inside__header h1 {
  color: #3A79F3;
  font-size: 96px;
  font-weight: 700;
  line-height: 110px;
  margin-bottom: 205px;
}
@media screen and (max-width: 992px) {
  .section__marketing__header .inside__header h1 {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .section__marketing__header .inside__header h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 70px;
  }
}
.section__marketing__header .inside__header img {
  position: absolute;
  top: 0;
  right: 27%;
}
@media screen and (max-width: 992px) {
  .section__marketing__header .inside__header img {
    width: 250px;
    right: 6%;
  }
}
@media screen and (max-width: 576px) {
  .section__marketing__header .inside__header img {
    top: -15px;
    width: 200px;
  }
}
.section__marketing .marketing__box__info {
  padding: 51px 25px;
  background: #3A79F3;
  box-shadow: 0px 19px 46.5px 0px rgba(0, 0, 0, 0.32);
}
.section__marketing .marketing__box__info li {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 64px;
  padding: 15px 0;
}
@media screen and (max-width: 992px) {
  .section__marketing .marketing__box__info li {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
  }
}
@media screen and (max-width: 576px) {
  .section__marketing .marketing__box__info li {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (max-width: 992px) {
  .section__marketing {
    padding: 110px 0;
  }
}
.section__need {
  padding: 120px 0;
}
.section__need__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .section__need__wrapper {
    justify-content: center;
  }
}
.section__need__text {
  width: 50%;
  min-width: 550px;
}
.section__need__text h1 {
  color: #252525;
  font-size: 77px;
  font-weight: 600;
  line-height: 71px;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .section__need__text h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
}
.section__need__text p {
  color: #252525;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
@media screen and (max-width: 992px) {
  .section__need__text p {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .section__need__text {
    width: 100%;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 576px) {
  .section__need__text {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
.section__need__image {
  display: flex;
  margin-top: 30px;
  width: 50%;
  min-width: 550px;
}
.section__need__image img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__need__image img:first-child {
  margin-top: 200px;
}
@media screen and (max-width: 576px) {
  .section__need__image img:first-child {
    margin-top: 100px;
  }
}
.section__need__image img:last-child {
  margin-bottom: 200px;
}
@media screen and (max-width: 576px) {
  .section__need__image img:last-child {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  .section__need__image {
    min-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .section__need {
    padding: 70px 0;
  }
}
.section__partners {
  padding: 120px 0;
}
.section__partners__header {
  text-align: center;
  padding: 70px 0 90px 0;
  background-color: #3A79F3;
  box-shadow: 0px 19px 46.5px 0px rgba(0, 0, 0, 0.32);
}
.section__partners__header .inside__header {
  position: relative;
  display: inline-block;
}
.section__partners__header .inside__header h1 {
  color: #fff;
  font-size: 92px;
  font-weight: 600;
  line-height: 84px;
}
@media screen and (max-width: 992px) {
  .section__partners__header .inside__header h1 {
    font-size: 46px;
    line-height: 46px;
  }
}
.section__partners__header .inside__header img {
  position: absolute;
  right: 0px;
  bottom: -60px;
}
@media screen and (max-width: 768px) {
  .section__partners__header .inside__header img {
    max-width: 280px;
    right: -15px;
    bottom: -40px;
  }
}
@media screen and (max-width: 576px) {
  .section__partners__header .inside__header img {
    right: 30px;
  }
}
.section__partners__logos {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  padding: 110px 20px !important;
}
.section__partners__logos .logo__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 300px;
}
@media screen and (max-width: 992px) {
  .section__partners__logos .logo__item img {
    height: 130px;
    width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 576px) {
  .section__partners__logos {
    padding: 70px 0;
  }
}
.section__partners .partners__footer {
  margin: 0 auto;
  color: #252525;
  font-size: 52px;
  font-weight: 400;
  line-height: 48px;
}
@media screen and (max-width: 576px) {
  .section__partners .partners__footer {
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  .section__partners {
    padding: 70px 0;
  }
}
.section__problem__solve__header {
  text-align: center;
  padding: 70px 0;
  background-color: #3A79F3;
}
.section__problem__solve__header h1 {
  color: #fff;
  font-size: 68px;
  font-weight: 600;
  line-height: 68px;
}
@media screen and (max-width: 992px) {
  .section__problem__solve__header h1 {
    font-size: 46px;
    line-height: 46px;
  }
}
@media screen and (max-width: 576px) {
  .section__problem__solve__header h1 {
    font-size: 28px;
    line-height: 28px;
  }
}
.section__problem__solve__body {
  padding: 120px 20px !important;
  display: flex;
  gap: 66px;
  flex-wrap: wrap;
}
.section__problem__solve__body .card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 420px;
  position: relative;
  font-size: 31px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
  background-color: #3A79F3;
  border-radius: 31px;
  padding: 40px 15px;
  box-shadow: 0px 10px 17.3px 0px rgba(0, 0, 0, 0.18);
  margin-bottom: 51px;
}
.section__problem__solve__body .card__item span {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%, -10px);
  color: #252525;
  background-color: #f3e439;
  padding: 5px 25px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: 500;
  line-height: 49px;
}
@media screen and (max-width: 992px) {
  .section__problem__solve__body .card__item {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 576px) {
  .section__problem__solve__body .card__item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 12px;
  }
}
.section__request__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 0 75px 0;
  background-color: #f6f6f6;
  color: #252525;
  font-size: 57px;
  font-weight: 600;
  line-height: 65px;
}
.section__request__header span {
  color: #3A79F3;
}
.section__request__header p {
  color: #fff;
  font-size: 37px;
  font-weight: 400;
  line-height: 43px;
  padding: 25px 40px;
  border-radius: 31px;
  margin-top: 30px;
  background-color: #3A79F3;
  box-shadow: 0px 10px 17.3px 0px rgba(0, 0, 0, 0.18);
}
@media screen and (max-width: 992px) {
  .section__request__header p {
    font-size: 19px;
    line-height: 22px;
    padding: 15px 20px;
  }
}
@media screen and (max-width: 576px) {
  .section__request__header p {
    border-radius: 20px;
  }
}
@media screen and (max-width: 992px) {
  .section__request__header {
    font-size: 28px;
    line-height: 28px;
    padding: 75px 0 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .section__request__header {
    padding: 75px 20px 50px 20px;
  }
}
.section__request__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 576px) {
  .section__request__body img {
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.section__request__body p {
  color: #252525;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 32px;
}
.section__request__body p:last-child {
  margin: 45px 0;
}
@media screen and (max-width: 992px) {
  .section__request__body p {
    font-size: 20px;
    line-height: 20px;
  }
}
.section__benefit {
  position: relative;
  margin: 110px 0;
}
.section__benefit__header h1 {
  color: #fff;
  font-size: 87px;
  font-weight: 700;
  line-height: 87px;
  padding: 70px 0;
  text-align: center;
  background-color: #3A79F3;
}
@media screen and (max-width: 992px) {
  .section__benefit__header h1 {
    font-size: 46px;
    line-height: 46px;
  }
}
@media screen and (max-width: 576px) {
  .section__benefit__header h1 {
    font-size: 28px;
    line-height: 28px;
  }
}
.section__benefit .rocket__wrapper {
  position: absolute;
  top: 210px;
  left: 0;
}
@media screen and (max-width: 1500px) {
  .section__benefit .rocket__wrapper img {
    max-width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .section__benefit .rocket__wrapper img {
    max-width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .section__benefit .rocket__wrapper img {
    max-width: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .section__benefit .rocket__wrapper {
    top: unset;
  }
}
@media screen and (max-width: 992px) {
  .section__benefit .rocket__wrapper {
    top: -120px;
    transform: rotate(8deg);
  }
}
.section__benefit__body {
  display: flex;
  justify-content: end;
  align-items: center;
}
.section__benefit__body ul {
  padding: 200px 0 100px 0;
  max-width: 750px;
}
.section__benefit__body ul li {
  color: #252525;
  font-size: 31px;
  font-weight: 400;
  line-height: 48px;
  padding: 10px 0;
}
@media screen and (max-width: 992px) {
  .section__benefit__body ul li {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 992px) {
  .section__benefit__body ul {
    padding: 50px 0 50px 20px;
    max-width: 550px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 992px) {
  .section__benefit__body {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .section__benefit {
    margin-bottom: unset;
  }
}
.section__improving__header {
  padding: 70px 0;
  text-align: center;
  box-shadow: 0px 7px 18.4px 0px rgba(0, 0, 0, 0.35);
  background-color: #3A79F3;
}
.section__improving__header h1 {
  color: #fff;
  font-size: 68px;
  font-weight: 600;
  line-height: 66px;
}
@media screen and (max-width: 992px) {
  .section__improving__header h1 {
    font-size: 46px;
    line-height: 46px;
  }
}
@media screen and (max-width: 576px) {
  .section__improving__header h1 {
    font-size: 28px;
    line-height: 28px;
  }
}
.section__improving__body {
  padding: 220px 0;
  background-attachment: fixed;
  background-image: url(../images/background/bg-letter-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section__improving__body .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .section__improving__body .container {
    justify-content: center;
  }
}
.section__improving__body .text {
  max-width: 50%;
  min-width: 550px;
}
.section__improving__body .text__header .improving__element__1 {
  position: relative;
  display: inline-block;
  height: 150px;
}
@media screen and (max-width: 992px) {
  .section__improving__body .text__header .improving__element__1 {
    height: unset;
  }
}
.section__improving__body .text__header .improving__element__3 {
  position: relative;
}
.section__improving__body .text__header img {
  position: absolute;
  bottom: 0;
  left: -35px;
}
@media screen and (max-width: 576px) {
  .section__improving__body .text__header {
    text-align: center;
  }
}
.section__improving__body .text__footer {
  margin-top: 120px;
}
.section__improving__body .text__footer h1 {
  color: #252525;
  font-size: 26px;
  font-weight: 300;
  line-height: 31px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .section__improving__body .text__footer h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .section__improving__body .text__footer h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
  }
}
.section__improving__body .text__footer li {
  color: #252525;
  font-size: 26px;
  font-weight: 300;
  line-height: 31px;
  padding: 10px 0;
}
@media screen and (max-width: 992px) {
  .section__improving__body .text__footer li {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  .section__improving__body .text__footer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section__improving__body .text__footer ul {
    padding-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .section__improving__body .text {
    min-width: 100%;
    margin-bottom: 60px;
  }
}
.section__improving__body .images {
  display: flex;
  max-width: 50%;
  justify-content: center;
  min-width: 550px;
}
@media screen and (max-width: 992px) {
  .section__improving__body .images {
    min-width: 100%;
  }
}
.section__improving__body .images img {
  max-width: 50%;
}
@media screen and (max-width: 1200px) {
  .section__improving__body {
    padding: 110px 0;
  }
}
@media screen and (max-width: 992px) {
  .section__improving__body {
    padding: 70px 0;
  }
}
.section__integration {
  padding: 120px 0;
}
.section__integration__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media screen and (max-width: 992px) {
  .section__integration__header {
    align-items: center;
    text-align: center;
  }
}
.section__integration__body {
  margin-top: 120px;
}
.section__integration__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 576px) {
  .section__integration__body {
    margin-top: 70px;
  }
}
@media screen and (max-width: 992px) {
  .section__integration {
    padding: 70px 0;
  }
}
.section__notification {
  padding: 120px 0;
}
.section__notification .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section__notification__header {
  max-width: 50%;
  min-width: 550px;
}
.section__notification__header .main__title span {
  position: relative;
}
.section__notification__header .main__title span img {
  position: absolute;
  right: 35px;
  bottom: 30px;
}
@media screen and (max-width: 992px) {
  .section__notification__header {
    min-width: 100%;
    margin-bottom: 60px;
    text-align: center;
  }
}
.section__notification__body {
  max-width: 50%;
  min-width: 550px;
  display: flex;
}
.section__notification__body img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 992px) {
  .section__notification__body {
    min-width: 100%;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .section__notification {
    padding: 70px 0;
  }
}
.section__message {
  position: relative;
  padding: 220px 0;
}
.section__message .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .section__message .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .section__message__header {
    text-align: center;
  }
}
.section__message__body {
  position: absolute;
  right: 0;
  max-width: 900px;
}
.section__message__body img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .section__message__body {
    top: 300px;
    max-width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .section__message__body {
    max-width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .section__message {
    padding: 70px 0;
  }
}
.section__ready__game {
  padding-top: 250px;
}
.section__ready__game .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .section__ready__game .container {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .section__ready__game .container .table-wrapper img {
    width: 100%;
  }
}
.section__ready__game .left {
  position: relative;
  width: 50%;
  min-width: 550px;
}
.section__ready__game .left p {
  margin: 30px 0;
}
@media screen and (max-width: 992px) {
  .section__ready__game .left {
    text-align: center;
    min-width: 100%;
    margin-bottom: 50px;
  }
}
.section__ready__game .right {
  display: flex;
  width: 50%;
  min-width: 550px;
  margin-top: 100px;
}
.section__ready__game .right img {
  max-width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__ready__game .right img:first-child {
  margin-top: -100px;
}
.section__ready__game .right img:last-child {
  margin-bottom: -100px;
}
@media screen and (max-width: 992px) {
  .section__ready__game .right {
    min-width: 100%;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .section__ready__game {
    margin-top: 500px;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__game {
    margin-top: 150px;
  }
}
.section__ready__number {
  background-attachment: fixed;
  background-image: url(../images/background/bg-letter-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  .section__ready__number .bell__wrapper img {
    max-width: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .section__ready__number .bell__wrapper img {
    width: 100%;
  }
}
.section__ready__number .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__ready__number .container .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 550px;
}
@media screen and (max-width: 1200px) {
  .section__ready__number .container .left {
    text-align: center;
    min-width: 100%;
  }
}
.section__ready__number .container .left p {
  margin: 20px 0;
}
.section__ready__number .container .left .calculater-wrapper img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .section__ready__number .container .left .calculater-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }
}
.section__ready__number .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 550px;
  min-height: 100%;
  border-radius: 51px;
  border: 1px solid #000;
  background-color: #3A79F3;
}
.section__ready__number .container .right img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .section__ready__number .container .right {
    text-align: center;
    padding: 50px;
  }
}
@media screen and (max-width: 992px) {
  .section__ready__number .container .right {
    margin-top: 40px;
    border-radius: 30px;
    min-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__number .container .right {
    padding: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .section__ready__number .container {
    justify-content: center;
  }
}
.section__funds {
  padding: 220px 0;
}
.section__funds__header .main__title {
  position: relative;
}
.section__funds__header .main__title img {
  position: absolute;
  right: 0;
  top: -200px;
}
@media screen and (max-width: 1200px) {
  .section__funds__header .main__title img {
    max-width: 300px;
    top: 220px;
    z-index: 2;
  }
}
@media screen and (max-width: 576px) {
  .section__funds__header .main__title img {
    max-width: 150px;
    top: 290px;
    z-index: 2;
  }
}
.section__funds__header p {
  margin-top: 30px;
}
.section__funds__header p span {
  display: inline-block;
  margin-top: 30px;
}
@media screen and (max-width: 992px) {
  .section__funds__header {
    text-align: center;
  }
}
.section__funds__body {
  position: relative;
  padding: 70px 0;
  background-attachment: fixed;
  background-image: url(../images/background/bg-letter-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3A79F3;
  margin-top: 150px;
  margin-bottom: 50px;
  height: 350px;
}
.section__funds__body .container {
  display: flex;
  justify-content: space-between;
}
.section__funds__body .container h2 {
  color: #fff;
  font-size: 88px;
  font-weight: 600;
  line-height: 96px;
}
@media screen and (max-width: 1200px) {
  .section__funds__body .container h2 {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .section__funds__body .container h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 44px;
  }
}
@media screen and (max-width: 576px) {
  .section__funds__body .container h2 {
    font-size: 36px;
    line-height: 36px;
  }
}
.section__funds__body .container .wallet_wrapper {
  margin-top: -200px;
}
@media screen and (max-width: 1200px) {
  .section__funds__body .container .wallet_wrapper {
    max-width: 400px;
  }
}
.section__funds__body .container .wallet_wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .section__funds__body .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .section__funds__body {
    margin-top: 100px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 0;
  }
}
@media screen and (max-width: 992px) {
  .section__funds {
    padding-top: 110px;
    padding-bottom: 0;
  }
}
.section__ready__answer {
  display: flex;
}
.section__ready__answer h1 {
  color: #fff;
  font-size: 97px;
  font-weight: 600;
  line-height: 115%;
  margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .section__ready__answer h1 {
    font-size: 46px;
    line-height: 46px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__answer h1 {
    font-size: 36px;
    line-height: 36px;
  }
}
.section__ready__answer__left {
  padding: 120px 80px;
  width: 50%;
  background-color: #3A79F3;
}
.section__ready__answer__left li {
  color: #fff;
  font-size: 31px;
  font-weight: 400;
  line-height: 112%;
  padding: 25px 50px;
}
@media screen and (max-width: 992px) {
  .section__ready__answer__left li {
    font-size: 36px;
    line-height: 36px;
    padding: 25px;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__answer__left li {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .section__ready__answer__left {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__answer__left {
    padding: 50px 0;
  }
}
.section__ready__answer__right {
  padding: 120px 80px;
  width: 50%;
  background-color: #252525;
}
.section__ready__answer__right h1 {
  color: #f3e439;
}
.section__ready__answer__right li {
  color: #f3e439;
  font-size: 31px;
  font-weight: 400;
  line-height: 112%;
  padding: 25px 50px;
}
@media screen and (max-width: 992px) {
  .section__ready__answer__right li {
    font-size: 36px;
    line-height: 36px;
    padding: 25px;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__answer__right li {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .section__ready__answer__right {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .section__ready__answer__right {
    padding: 50px 0;
  }
}
@media screen and (max-width: 1200px) {
  .section__ready__answer {
    flex-direction: column;
  }
}
.section__footer {
  padding: 220px 0;
}
.section__footer h1 {
  color: #252525;
  text-align: center;
  font-size: 62px;
  font-weight: 600;
  line-height: 67px;
  margin-bottom: 150px;
}
@media screen and (max-width: 992px) {
  .section__footer h1 {
    font-size: 46px;
    line-height: 46px;
    font-weight: 400;
    margin-bottom: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .section__footer h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
}
.section__footer .square-wrapper {
  display: flex;
  justify-content: center;
}
.section__footer .square-wrapper img {
  width: 100%;
  max-width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__footer p {
  margin: 70px auto 0 auto;
  color: #252525;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  line-height: 34px;
  max-width: 540px;
}
@media screen and (max-width: 576px) {
  .section__footer p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 992px) {
  .section__footer {
    padding: 70px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.container-sm {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Kanit";
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Kanit";
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.main__title {
  color: #252525;
  font-size: 82px;
  font-weight: 600;
  line-height: 95px;
  margin-bottom: 20px;
}

.main__subtitle {
  color: #252525;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 992px) {
  .main__title {
    font-size: 46px;
    line-height: 46px;
  }
  .main__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
  }
  .mobile-none {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .main__title {
    font-size: 28px;
    line-height: 28px;
  }
  .main__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
  }
}/*# sourceMappingURL=main.css.map */