.section {
  // Section Start
  &__start {
    position: relative;
    height: 100vh;
    .letter {
      position: absolute;
      &__h {
        top: 10px;
        left: 0;
      }
      &__u {
        bottom: -100px;
        right: 0;
      }
      img {
        @media screen and (max-width: 1200px) {
          max-width: 370px;
        }
        @media screen and (max-width: 992px) {
          max-width: 250px;
        }
        @media screen and (max-width: 576px) {
          max-width: 200px;
        }
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 320px;
      img {
        @media screen and (max-width: 1200px) {
          max-width: 400px;
        }
        @media screen and (max-width: 992px) {
          max-width: 270px;
        }
      }
      .text-combine {
        position: relative;
        margin-top: 20px;
        img {
          position: absolute;
          bottom: -60px;
          right: -25px;
          @media screen and (max-width: 992px) {
            max-width: 300px;
            bottom: -35px;
            right: 0px;
          }
        }

        p {
          font-size: 49px;
          color: map-get($myListColor, "font-color-blue");
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-weight: 300;
          line-height: 57px;
          -webkit-text-stroke: 1px #000;
          @media screen and (max-width: 1200px) {
            font-size: 32px;
            line-height: 42px;
          }
          @media screen and (max-width: 992px) {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
          }
        }
      }
    }
  }

  // Section Marketing
  &__marketing {
    padding: 220px 0;
    background-image: url("../images/background/bg-letter-1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    &__header {
      text-align: center;
      .inside__header {
        position: relative;
        display: inline-block;
        h1 {
          color: map-get($myListColor, "font-color-blue");
          font-size: 96px;
          font-weight: 700;
          line-height: 110px;
          margin-bottom: 205px;
          @media screen and (max-width: 992px) {
            margin-bottom: 100px;
            font-size: 48px;
            line-height: 55px;
          }
          @media screen and (max-width: 576px) {
            margin-bottom: 70px;
            font-size: 32px;
            line-height: 38px;
          }
        }

        img {
          position: absolute;
          top: 0;
          right: 27%;
          @media screen and (max-width: 992px) {
            width: 250px;
            right: 6%;
          }
          @media screen and (max-width: 576px) {
            top: -15px;
          }
        }
      }
    }
    .marketing__box__info {
      padding: 51px 25px;
      background: map-get($myListColor, "font-color-blue");
      box-shadow: 0px 19px 46.5px 0px rgba(0, 0, 0, 0.32);
      li {
        color: map-get($myListColor, "font-color-white");
        font-size: 55px;
        font-weight: 400;
        line-height: 64px;
        padding: 7px 0;
        @media screen and (max-width: 992px) {
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          padding: 7px 0;
        }
        @media screen and (max-width: 576px) {
          font-size: 22px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    @media screen and (max-width: 992px) {
      padding-top: 110px;
      padding-bottom: 20px;
    }
  }

  // Section Need
  &__need {
    padding: 120px 0;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
    }

    &__text {
      width: 50%;
      min-width: 550px;
      @media screen and (max-width: 576px) {
        min-width: fit-content;
      }
      h1 {
        color: map-get($myListColor, "font-color-black");
        font-size: 77px;
        font-weight: 600;
        line-height: 71px;
        margin-bottom: 30px;
        @media screen and (max-width: 992px) {
          font-size: 32px;
          font-weight: 500;
          line-height: 36px;
          margin-bottom: 20px;
          text-align: center;
        }
      }

      p {
        color: map-get($myListColor, "font-color-black");
        font-size: 24.59px;
        font-weight: 300;
        line-height: 29px;
        @media screen and (max-width: 992px) {
          font-size: 18px;
          line-height: 18px;
          text-align: center;
        }
      }
      @media screen and (max-width: 992px) {
        max-width: 100%;
        margin-bottom: 60px;
      }
    }

    &__image {
      display: flex;
      width: 50%;
      min-width: 550px;
      margin-top: 30px;
      @media screen and (max-width: 576px) {
        min-width: fit-content;
        margin-top: 0;
      }
      img {
        max-width: 50%;
        object-fit: cover;
        &:first-child {
          margin-top: 200px;
        }
        &:last-child {
          margin-bottom: 200px;
        }
      }
      @media screen and (max-width: 992px) {
        max-width: 100%;
      }

      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    @media screen and (max-width: 992px) {
      padding: 70px 0;
    }
  }

  // Section Partners
  &__partners {
    padding: 120px 0;
    &__header {
      text-align: center;
      padding: 70px 0 90px 0;
      background-color: map-get($myListColor, "font-color-blue");
      box-shadow: 0px 19px 46.5px 0px rgba(0, 0, 0, 0.32);
      .inside__header {
        position: relative;
        display: inline-block;
        h1 {
          color: map-get($myListColor, "font-color-white");
          font-size: 92px;
          font-weight: 600;
          line-height: 84px;
          @media screen and (max-width: 992px) {
            font-size: 46px;
            line-height: 42px;
          }
        }
        img {
          position: absolute;
          right: 0px;
          bottom: -60px;
          @media screen and (max-width: 768px) {
            max-width: 280px;
            right: -15px;
            bottom: -40px;
          }
          @media screen and (max-width: 576px) {
            right: 30px;
          }
        }
      }
    }
    &__logos {
      display: flex;
      gap: 35px;
      flex-wrap: wrap;
      padding: 110px 0;
      .logo__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 300px;
        img {
          @media screen and (max-width: 992px) {
            height: 120px;
            width: 200px;
            object-fit: contain;
          }
        }
      }
      @media screen and (max-width: 768px) {
        gap: 25px;
      }
      @media screen and (max-width: 576px) {
        padding: 70px 0;
      }
    }
    .partners__footer {
      margin: 0 auto;
      color: map-get($myListColor, "font-color-black");
      font-size: 52px;
      font-weight: 400;
      line-height: 48px;
      @media screen and (max-width: 576px) {
        font-size: 26px;
      }
    }
    @media screen and (max-width: 576px) {
      padding: 70px 0;
    }
  }

  // Section Problem Solve
  &__problem__solve {
    &__header {
      text-align: center;
      padding: 70px 0;
      background-color: map-get($myListColor, "font-color-blue");
      h1 {
        color: map-get($myListColor, "font-color-white");
        font-size: 68px;
        font-weight: 600;
        line-height: 68px;
        @media screen and (max-width: 992px) {
          font-size: 34px;
          line-height: 34px;
        }
        @media screen and (max-width: 576px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }

    &__body {
      padding: 100px 0;
      display: flex;
      gap: 66px;
      flex-wrap: wrap;
      .card__item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1 1 420px;
        position: relative;
        font-size: 31px;
        font-weight: 500;
        line-height: 36px;
        color: map-get($myListColor, "font-color-white");
        background-color: map-get($myListColor, "font-color-blue");
        border-radius: 31px;
        padding: 40px 15px;
        box-shadow: 0px 10px 17.3px 0px rgba(0, 0, 0, 0.18);
        margin-bottom: 51px;
        @media screen and (max-width: 992px) {
          border-radius: 15px;
        }
        span {
          position: absolute;
          left: 50%;
          top: -30px;
          transform: translate(-50%, -10px);
          color: map-get($myListColor, "font-color-black");
          background-color: #f3e439;
          padding: 5px 25px;
          border-radius: 50%;
          font-size: 35px;
          font-weight: 500;
          line-height: 49px;
        }
        @media screen and (max-width: 992px) {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 27px;
        }
        @media screen and (max-width: 576px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  // Section Request
  &__request {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 150px 0 75px 0;
      background-color: #f6f6f6;
      color: map-get($myListColor, "font-color-black");
      font-size: 57px;
      font-weight: 600;
      line-height: 65px;
      @media screen and (max-width: 992px) {
        font-size: 28px;
        line-height: 35px;
      }
      span {
        color: map-get($myListColor, "font-color-blue");
      }
      p {
        color: map-get($myListColor, "font-color-white");
        font-size: 37px;
        font-weight: 400;
        line-height: 43px;
        padding: 25px 40px;
        border-radius: 31px;
        margin-top: 30px;
        background-color: map-get($myListColor, "font-color-blue");
        box-shadow: 0px 10px 17.3px 0px rgba(0, 0, 0, 0.18);
        @media screen and (max-width: 992px) {
          font-size: 19px;
          line-height: 22px;
          padding: 15px 20px;
        }
        @media screen and (max-width: 576px) {
          border-radius: 20px;
        }
      }
      @media screen and (max-width: 992px) {
        padding: 75px 0 50px 0;
      }
      @media screen and (max-width: 576px) {
        padding: 75px 20px 50px 20px;
      }
    }
    &__body {
      margin: 50px 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media screen and (max-width: 576px) {
          height: 250px;
          object-fit: contain;
        }
      }

      p {
        color: map-get($myListColor, "font-color-black");
        text-align: center;
        font-size: 28px;
        font-weight: 400;
        line-height: 32px;
        &:last-child {
          margin: 45px auto 0 auto;
        }
        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  // Section Benefit
  &__benefit {
    position: relative;
    margin: 110px 0;
    &__header {
      h1 {
        color: map-get($myListColor, "font-color-white");
        font-size: 87px;
        font-weight: 700;
        line-height: 87px;
        padding: 70px 0;
        text-align: center;
        background-color: map-get($myListColor, "font-color-blue");
        @media screen and (max-width: 992px) {
          font-size: 34px;
          line-height: 34px;
        }
      }
    }

    .rocket__wrapper {
      position: absolute;
      top: 210px;
      left: 0;

      img {
        @media screen and (max-width: 1200px) {
          max-width: 300px;
        }
        @media screen and (max-width: 992px) {
          max-width: 150px;
        }
      }
      @media screen and (max-width: 992px) {
        top: -120px;
        transform: rotate(8deg);
      }
    }

    &__body {
      display: flex;
      justify-content: end;
      align-items: center;

      ul {
        padding: 200px 0 100px 0;
        max-width: 750px;
        li {
          color: map-get($myListColor, "font-color-black");
          font-size: 31px;
          font-weight: 400;
          line-height: 48px;
          padding: 10px 0;
          @media screen and (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        @media screen and (max-width: 992px) {
          padding: 50px 0 50px 20px;
          max-width: 550px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      @media screen and (max-width: 992px) {
        justify-content: center;
      }
    }
    @media screen and (max-width: 992px) {
      margin-bottom: unset;
    }
  }

  // Section Improving
  &__improving {
    &__header {
      padding: 70px 0;
      text-align: center;
      box-shadow: 0px 7px 18.4px 0px rgba(0, 0, 0, 0.35);
      background-color: map-get($myListColor, "font-color-blue");
      h1 {
        color: map-get($myListColor, "font-color-white");
        font-size: 68px;
        font-weight: 600;
        line-height: 66px;
        @media screen and (max-width: 992px) {
          font-size: 34px;
          line-height: 34px;
        }
      }
    }
    &__body {
      padding: 220px 0;
      background-attachment: fixed;
      background-image: url(../images/background/bg-letter-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width: 1200px) {
        padding: 110px 0;
      }
      @media screen and (max-width: 992px) {
        padding: 70px 0;
      }
      @media screen and (max-width: 576px) {
        padding: 70px 0;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1200px) {
          justify-content: center;
        }
      }
      .text {
        max-width: 50%;
        min-width: 550px;
        @media screen and (max-width: 992px) {
          min-width: 100%;
          margin-bottom: 60px;
        }
        &__header {
          @media screen and (max-width: 992px) {
            text-align: center;
          }
          .improving__element__1 {
            position: relative;
            display: inline-block;
            height: 150px;
            @media screen and (max-width: 992px) {
              height: 100px;
            }
          }
          .improving__element__3 {
            position: relative;
          }
          img {
            position: absolute;
            bottom: 0;
            left: -35px;
            @media screen and (max-width: 992px) {
              bottom: 25px;
              right: 0;
              max-width: 250px;
            }
          }
        }

        &__footer {
          margin-top: 140px;
          @media screen and (max-width: 992px) {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul {
              padding-left: 20px;
            }
          }
          h1 {
            color: map-get($myListColor, "font-color-black");
            font-size: 26px;
            font-weight: 300;
            line-height: 31px;
            margin-bottom: 20px;
            @media screen and (max-width: 992px) {
              font-size: 32px;
              font-weight: 500;
              line-height: 31px;
              text-align: center;
            }
          }
          li {
            color: map-get($myListColor, "font-color-black");
            font-size: 26px;
            font-weight: 300;
            line-height: 31px;
            padding: 5px 0;
            @media screen and (max-width: 992px) {
              font-size: 21px;
              line-height: 24px;
            }
          }
        }
      }

      .images {
        display: flex;
        // gap: 20px;
        max-width: 50%;
        justify-content: center;
        min-width: 550px;
        @media screen and (max-width: 992px) {
          min-width: 100%;
        }
        img {
          max-width: 50%;
        }
      }
    }
  }

  // Section Integration
  &__integration {
    padding: 120px 0;
    @media screen and (max-width: 992px) {
      padding: 70px 0;
    }
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      @media screen and (max-width: 992px) {
        align-items: center;
        text-align: center;
      }
    }

    &__body {
      margin-top: 120px;
      @media screen and (max-width: 576px) {
        margin-top: 70px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // Section Notification
  &__notification {
    padding: 120px 0;
    @media screen and (max-width: 992px) {
      padding: 70px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__header {
      max-width: 50%;
      min-width: 550px;
      @media screen and (max-width: 992px) {
        min-width: 100%;
        margin-bottom: 60px;
        text-align: center;
      }
      .main__title span {
        position: relative;
        img {
          position: absolute;
          right: 35px;
          bottom: 30px;
          @media screen and (max-width: 992px) {
            bottom: -5px;
            right: -70px;
          }
        }
      }
    }

    &__body {
      max-width: 50%;
      min-width: 550px;
      @media screen and (max-width: 992px) {
        min-width: 100%;
        margin-bottom: 60px;
      }
      display: flex;
      // gap: 20px;
      img {
        width: 50%;
        object-fit: contain;
      }
    }
  }

  // Section Message
  &__message {
    position: relative;
    padding: 220px 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }
    }
    &__header {
      @media screen and (max-width: 992px) {
        text-align: center;
      }
    }
    &__body {
      position: absolute;
      right: 0;
      max-width: 900px;
      @media screen and (max-width: 1200px) {
        top: 280px;
        max-width: 700px;
      }
      @media screen and (max-width: 576px) {
        // max-width: 400px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 992px) {
      padding: 70px 0;
    }
  }

  // Section Ready Game
  &__ready__game {
    padding-top: 250px;
    @media screen and (max-width: 992px) {
      margin-top: 600px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 200px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
      .table-wrapper img {
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }
    }
    .left {
      position: relative;
      width: 50%;
      min-width: 550px;
      @media screen and (max-width: 992px) {
        text-align: center;
        min-width: 100%;
        margin-bottom: 150px;
      }
      p {
        margin: 40px 0;
      }
    }

    .right {
      display: flex;
      width: 50%;
      min-width: 550px;
      margin-top: 150px;
      img {
        max-width: 50%;
        object-fit: cover;
        &:first-child {
          margin-top: -100px;
        }
        &:last-child {
          margin-bottom: -100px;
        }
      }
      @media screen and (max-width: 992px) {
        min-width: 100%;
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // Section Ready Number
  &__ready__number {
    background-attachment: fixed;
    background-image: url(../images/background/bg-letter-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .bell__wrapper {
      img {
        @media screen and (max-width: 1200px) {
          max-width: 300px;
          margin: 0 auto;
        }
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-width: 550px;
        @media screen and (max-width: 1200px) {
          text-align: center;
          min-width: 100%;
        }
        .calculater-wrapper {
          @media screen and (max-width: 1200px) {
            max-width: 300px;
            margin: 0 auto;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        min-width: 550px;
        min-height: 100%;
        border-radius: 51px;
        border: 1px solid #000;
        background-color: map-get($myListColor, "font-color-blue");
        img {
          width: 100%;
          // @media screen and (max-width: 576px) {
          //   max-width: 320px;
          // }
        }
        @media screen and (max-width: 1200px) {
          text-align: center;
          min-width: 100%;
          padding: 50px;
        }
        @media screen and (max-width: 576px) {
          padding: 15px;
        }
      }
      @media screen and (max-width: 1200px) {
        min-width: 100%;
        justify-content: center;
      }
    }
  }

  // Section Funds
  &__funds {
    padding: 160px 0;
    &__header {
      @media screen and (max-width: 992px) {
        text-align: center;
      }
      .main__title {
        position: relative;
        img {
          position: absolute;
          right: 0;
          top: -200px;
        }
      }
      p {
        margin-top: 30px;
        span {
          display: inline-block;
          margin-top: 30px;
        }
      }
    }

    &__body {
      position: relative;
      padding: 70px 0;
      background-attachment: fixed;
      background-image: url(../images/background/bg-letter-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: map-get($myListColor, "font-color-blue");
      margin-top: 150px;
      margin-bottom: 50px;
      height: 350px;
      @media screen and (max-width: 992px) {
        margin-top: 50px;
        height: fit-content;
        padding: 40px 0;
      }
      .container {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
          flex-direction: column;
        }
        h2 {
          color: map-get($myListColor, "font-color-white");
          font-size: 88px;
          font-weight: 600;
          line-height: 96px;
          @media screen and (max-width: 1200px) {
            text-align: center;
          }
          @media screen and (max-width: 992px) {
            font-size: 44px;
            font-weight: 400;
            line-height: 48px;
          }
          @media screen and (max-width: 576px) {
            font-size: 32px;
            line-height: 32px;
          }
        }
        .wallet_wrapper {
          margin-top: -200px;
          @media screen and (max-width: 1200px) {
            max-width: 400px;
          }
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      padding-top: 160px;
      padding-bottom: 0;
    }
  }

  // Section Ready Answer
  &__ready__answer {
    display: flex;
    h1 {
      color: #fff;
      font-size: 97px;
      font-weight: 600;
      line-height: 115%;
      margin-bottom: 60px;
      @media screen and (max-width: 992px) {
        font-size: 48px;
        font-weight: 400;
        line-height: 95%;
        margin-bottom: 34px;
        text-align: center;
      }
    }

    &__left {
      padding: 120px 80px;
      width: 50%;
      background-color: map-get($myListColor, "font-color-blue");
      li {
        color: map-get($myListColor, "font-color-white");
        font-size: 31px;
        font-weight: 400;
        line-height: 112%;
        padding: 25px 50px;
        @media screen and (max-width: 992px) {
          font-size: 28px;
          font-weight: 400;
          padding: 25px;
        }
        @media screen and (max-width: 576px) {
          padding: 25px;
        }
      }
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      @media screen and (max-width: 576px) {
        padding: 80px 0;
      }
    }

    &__right {
      padding: 120px 80px;
      width: 50%;
      background-color: map-get($myListColor, "font-color-black");
      h1 {
        color: #f3e439;
      }
      li {
        color: #f3e439;
        font-size: 31px;
        font-weight: 400;
        line-height: 112%;
        padding: 25px 50px;
        @media screen and (max-width: 992px) {
          font-size: 24px;
          font-weight: 400;
          padding: 25px;
        }
        @media screen and (max-width: 576px) {
          padding: 20px;
        }
      }
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      @media screen and (max-width: 576px) {
        padding: 80px 0;
      }
    }
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  // Section Footer
  &__footer {
    padding: 220px 0;
    h1 {
      color: map-get($myListColor, "font-color-black");
      text-align: center;
      font-size: 62px;
      font-weight: 600;
      line-height: 67px;
      margin-bottom: 150px;
      @media screen and (max-width: 992px) {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 100px;
        text-align: center;
      }
      @media screen and (max-width: 576px) {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 100px;
        text-align: center;
      }
    }
    .square-wrapper {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        max-width: 380px;
        object-fit: cover;
      }
    }
    p {
      margin: 70px auto 0 auto;
      color: map-get($myListColor, "font-color-black");
      text-align: center;
      font-size: 29px;
      font-weight: 400;
      line-height: 34px;
      max-width: 540px;
      @media screen and (max-width: 576px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    @media screen and (max-width: 992px) {
      padding: 110px 0;
    }
  }
}
